.intro {

	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100vh;

	// .intro__bg

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -2;
		user-select: none; pointer-events: none;
		overflow: hidden;

		display: flex;
		justify-content: center;

		// .intro__bg--image

		&--image {
			width: 100%; height: calc(100% + 100px);
			min-width: 1200px;
			background: #171717;
			text-align: center;
		}

		// .intro__bg--img

		&--img {
			width: 100%; height: 100%;
			object-fit: cover;
			opacity: .4;
		}
	}

	// .intro__content

	&__content {
		padding: var(--height-header) 0;
		margin-top: 0px;

		max-width: 435px;
		@media (min-width: 500px) {
			max-width: 600px;
			margin-top: -30px;
		}
		@media (min-width: 675px) {
			max-width: 720px;	
			margin-top: 4px;
		}
		@media (min-width: 1015px) {
			margin-top: -53px;
		}
		@media (min-width: 1125px) {
			margin-top: 0;
		}
		
		text-align: center;

		color: var(--white);
	}

	// .intro__title

	&__title {
	}

	// .intro__info

	&__info {

		padding-top: 25px;
		@media (min-width: 675px) {
			padding-top: 37px;
		}
		@media (min-width: 1125px) {
			padding-top: 30px;
		}

		// .intro__info--list

		&--list {
			display: flex;
			justify-content: center;
		}

		// .intro__info--item

		&--item {
			padding: 0px 25.25px;

			font-size: 1.125rem;
			line-height: 133%;
			text-align: center;
			letter-spacing: -0.376923px;

			&:not(:first-child) {
				border-left: 1px solid rgba(255, 255, 255, 0.46);
			}
		}
	}

	// .intro__decor-line

	&__decor-line {
		position: absolute;
		left: 50%; bottom: 37px;
		transform: translate(-50%,0);
		width: 1px; height: 66px;
		background: rgba(255, 255, 255, 0.26);

		&::before {
			content: '';
			position: absolute;
			left: 0; top: 15%;
			width: 100%; height: 45%;
			background: #FFF;
		}
	}
}
